<div class="profile-form">
  <div class="title"><%= I18n.t("devise.sign_up.title") %></div>
  <div class="form-outer">
    <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), method: :put, class: "form") do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-content">
        <div class="form-row">
          <div class="form-label">
            <%= form.label :email, I18n.t("devise.sign_up.email") %>
          </div>
          <div class="form-input">
            <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "me@example.com", class: "form-text" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">
            <%= form.label :password, I18n.t("devise.profile.password") %>
          </div>
          <div class="form-input">
            <%= form.password_field :password, autocomplete: "new-password", class: "form-text" %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <%= form.label :password_confirmation, I18n.t("devise.profile.password_confirmation") %>
          </div>
          <div class="form-input">
            <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-text" %>
          </div>
        </div>
      </div>

      <div class="form-footer">
        <div class="action form-cancel">
          <%= link_to :back do %>
            <i class='fa fa-chevron-left' aria-hidden='true'></i> <%= I18n.t("back") %>
          <% end %>
        </div>

        <div class="fill"></div>

        <div class="action submit">
          <%= button_tag :submit, class: "button", id: "sign-in-button" do %>
            <%= I18n.t("devise.sign_up.send") %><i class='fa fa-chevron-right' aria-hidden='true'></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
