<div class="profile-form">
  <div class="title"><%= I18n.t("devise.password.title_forgot") %></div>
  <div class="form-outer">
    <%= form_with(model: resource, scope: resource_name, url: password_path(resource_name), method: :put, class: "form") do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-content">
        <div class="form-row">
          <div class="form-label">
            <%= form.label :email, I18n.t("devise.sign_in.email") %>
          </div>
          <div class="form-input">
            <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "me@example.com", class: "form-text" %>
          </div>
        </div>
      </div>

      <div class="form-footer">
        <div class="action form-cancel">
          <%= link_to :back do %>
            <i class='fa fa-chevron-left' aria-hidden='true'></i> <%= I18n.t("back") %>
          <% end %>
        </div>

        <div class="spacer"></div>

        <div class="action submit">
          <%= button_tag :submit, class: "button", id: "forgot-password-button" do %>
            <%= I18n.t("devise.password.send") %><i class='fa fa-chevron-right' aria-hidden='true'></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
