<div class="comic">
  <div class="comic-header">
    <div class="comic-title"><%= @comic.title %></div>
    <div class="comic-date"><%= @comic.publish_date.strftime("%B %d %Y") %></div>
  </div>

  <div class="comic-image">
    <%= image_tag @comic.image, alt: @comic.title, title: @comic.title %>
  </div>
  <div class="comic-description">
    <%= @comic.description %>
  </div>

  <div class="comic-nav">
    <%= link_for_comic(@first, "first") %>
    <%= link_for_comic(@previous, "previous") %>
    <div class="fill"></div>
    <%= link_for_comic(@next, "next") %>
    <%= link_for_comic(@latest, "latest") %>
  </div>
</div>
