<div class="calendar">
  <div class="title"><%= I18n.t("calendar") %></div>
  <div class="years">
    <% @years.each do |year| %>
      <% y = year["y"].to_i %>

      <div class="year">
        <% current_year = @current_date.year == y %>
        <%= link_to comics_for_year_path(year: y), class: current_year ? 'current' : 'single' do %>
          <div class="year_number"><%= y %></div>
          <div class="count">(<%= year["c"] %>)</div>
        <% end %>

        <% if current_year %>
          <div class="months">
            <% @months.each do |month| %>
              <% m = month["m"].to_i %>
              <% current_month = @current_date.month == m %>
              <div class="month">
                <%= link_to comics_for_month_path(year: @current_date.year, month: month["m"]), class: , class: current_month ? 'current' : 'single' do %>
                  <div class="month_name"><%= I18n.t("date.month_names")[m] %></div>
                  <div class="count">(<%= month["c"] %>)</div>
                <% end %>
                <% if current_month %>
                  <% unless @comics.blank? %>
                    <div class="comics">
                      <% @comics.each do |comic| %>
                        <% d = comic.publish_date %>
                        <% current_comic = @comic && @comic.publish_date.day == d.day %>
                        <div class="comic">
                          <%= link_to comic_path(year: @current_date.year, month: @current_date.month, day: d.day), class: current_comic ? 'current' : 'single' do %>
                            <div class="date"><%= d.day %></div>
                            <div class="day"><%= I18n.t("date.day_names")[d.wday] %></div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
