<% content_for :left_side do %>
  <div class="actions">
    <div class="action">
      <%= link_to manage_new_comic_path, class: "new" do %>
        <i class='fa fa-square-plus' aria-hidden='true'></i>
        <%= I18n.t("comic.new") %>
      <% end %>
    </div>
  </div>

  <div class="spacer"></div>
  <%= render "manage/shared/side_view_calendar" %>
  <div class="spacer"></div>

  <%= render "manage/shared/tag_cloud" %>
<% end %>

<div class="comic">
  <div class="comic-header">
    <div class="comic-title"><%= @comic.title %></div>
    <div class="comic-date"><%= @comic.publish_date.strftime("%B %d %Y") %></div>
  </div>

  <div class="comic-image">
    <%= image_tag @comic.image, alt: @comic.title, title: @comic.title %>
  </div>

  <div class="comic-description">
    <%= @comic.description %>
  </div>

  <div class="comic-nav">
    <% d = @comic.publish_date %>
    <%= link_to manage_edit_comic_path(d.year, d.month, d.day), class: "action link edit" do %>
      <i class='fa fa-pen-to-square' aria-hidden='true'></i>
      <%= I18n.t("edit") %>
    <% end %>
    <%= link_to manage_publish_comic_path(d.year, d.month, d.day), class: "action link publish", title: 'Publish/hide' do %>
      <%= published_icon(@comic) %>
      <%= @comic.is_published? ? I18n.t("hide") : I18n.t("publish") %>
    <% end %>
    <div class="spacer"></div>
    <%= link_to manage_delete_comic_path(@comic), method: :delete, class: "action link delete" do %>
      <i class='fa fa-trash' aria-hidden='true'></i>
      <%= I18n.t("delete") %>
    <% end %>
  </div>
</div>
