<% content_for :left_side do %>
  <div class="left-side">
    <div class="actions">
      <div class="action">
        <%= link_to new_manage_book_path, class: "new" do %>
          <i class='fa fa-square-plus' aria-hidden='true'></i>
          <%= I18n.t("book.new") %>
        <% end %>
      </div>

      <div class="action">
        <%= link_to new_manage_comic_path, class: "new" do %>
          <i class='fa fa-square-plus' aria-hidden='true'></i>
          <%= I18n.t("comic.new") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h1><%= @book.title %></h1>
<p><%= @book.description %></p>

<div class="overview index">
  <div class="books">
    <% @book.comics.each do |comic| %>
      <div class="book">
        <% d = comic.publish_date %>
        <%= link_to manage_comic_show_by_date_path(d.year, d.month, d.day), class: 'link' do %>
          <div class="date"><%= d.year %></div>
          <div class="day"><%= I18n.t("date.month_names")[d.month] %></div>
          <div class="date"><%= d.day %></div>
          <div class="title"><%= comic.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



