<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Comic Book" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Comic Book" %>">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "forms", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "manage", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="page manage">
    <div class="page-wrapper">
      <header class="page page-header">
        <%= render 'manage/shared/manage_navigation' %>
      </header>
      <main role="main" class="page-main">
        <%= content_for?(:left_side) ? yield(:left_side) : "" %>
        <div class="container">
          <%= render 'shared/messages' %>
          <%= yield %>
        </div>
      </main>
      <footer class="page-footer">
        ComicBook - web comic manager
      </footer>
    </div>
  </body>
</html>
